html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: regular;
}


@font-face {
  font-family: regular;
  src: url(./r.ttf);
}



.dropdown:hover .dropdown-menu {
  display: block;
}
  
           .nav{
              display: flex;
              justify-content: space-between;
              align-items:center;
              height: 7rem; width: 100%;
              position: fixed;
              top: 0;
              font-family: regular !important;
              z-index: 10;
              background: transparent;
              transition:  0.5s linear;
          }
          .navActive{
              display: flex;
              justify-content: space-between;
              align-items:center;
              height: 5rem; width: 100%;
              position: fixed;
              top: 0;
              font-family: 'Pacifico', cursive !important;
              background: linear-gradient(to right, #232526, #414345);
              opacity: 0.9;
              z-index: 10;
              transition:  0.5s linear;
          }
          .Logo{
              width: 20rem;
              padding: 0.5rem;
              transition:  0.5s linear;
              cursor: pointer;
          }

        .LogoB{
            width: 10rem;
            transition:  0.5s linear;
        }
          .list{
              list-style: none;
              display: flex;
              justify-content: space-between;
              /* background: aqua; */
              max-width: 55rem;
              text-decoration: none;
              /* font-size: 1rem !important ; */
              margin-right: 10rem;
          }
   
  
            
            .list * {
              box-sizing: border-box;
              transition: all .35s ease;
              font-family: regular;
              font-weight: bold;
            }
            
            .lis li {
              display: inline-block;
              list-style: outside none none;
              margin: .5em 1em;
              padding: 0;
            }
            
           
            .list a {
              padding: .5em .8em;
              color: #E5E5E5;
              position: relative;
              text-decoration: none;
              font-size: 1.5rem;
              font-weight: 550;
            }
            
            .list a::before,
            .list a::after {
              content: '';
              height: 14px;
              width: 14px;
              position: absolute;
              transition: all .35s ease;
              opacity: 0;
            }
            
            .list a::before {
              content: '';
              right: 0;
              top: 0;
              border-top: 3px solid #F3B61F;
              border-right: 3px solid #F3B61F;
              transform: translate(-100%, 50%);
            }
            
            .list a:after {
              content: '';
              left: 0;
              bottom: 0;
              border-bottom: 3px solid #F3B61F;
              border-left: 3px solid #F3B61F;
              transform: translate(100%, -50%)
            }
            
            .list a:hover:before,
            .list a:hover:after{
              transform: translate(0,0);
              opacity: 1;
            }
            
            .list a:hover {
              color: 	#FF1493;
            }
            
  
          .NLi{
              text-decoration: none;
              /* font-family: 'Oswald', sans-serif !important ; */
          }
          .container{
              display: none;
          }
          .hamburger{
              display: none;
          }
         .input{
           color: #E5E5E5;
           background: transparent;
         }
         @media(max-width: 1200px){
          .nav{
            flex-direction: column;
            height: auto;
          }
          .navActive{ 
            flex-direction: column;
            height: auto;
            padding-bottom: 1rem;
          }
          .list{
          margin-right: 0;
          }
         }
          @media(max-width: 768px){
              .nav{
                  justify-content: space-between;
                  /* padding-left: 2rem; */
                  height: 4rem;
                  position: fixed;
                  background: transparent;
              }
              .navActive{
                  justify-content: space-between;
                  /* padding-left: 2rem; */
                  height: 4rem;
                  position: fixed;
                  background-color: #002C65;
                  z-index: 10;
                  opacity: 1;
                  padding-bottom: 0rem;
              }
              .none{
                  display: none;
              }
              .hamburger{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  height: 1.8rem;
                  padding-right: 2rem;
                  cursor: pointer;
              }
              .Line1,.Line2,.Line3{
                  height: 0.25rem;
                  width: 2.3rem;
                  border: 1px solid #E5E5E5;
                  background: #E5E5E5;
                  border-radius: 0.5rem;
                  transition: 1.5s;
              }
              .list{
                  flex-direction: column;
                   /* align-items:flex-end;  */
                   height: 15rem;
                   display: none;
              }
              /* .container{
                  display: block;
                  right: 0;
                  left: 20%;
                  top: 4rem;
                  transition: all 0.5s ease-out ;
                  flex-direction: column;
                  position: absolute;
                  width: 100%;
                  height: 18rem;
                  padding-top: 2rem;
                  padding-left: 1rem;
                  background: #1E2947;
                  border-radius: 1rem;
              } */
              .Logo{
                  width: 10rem;
              }
              .nav{
           
                flex-direction: row;
            }
              .navActive{
               
                flex-direction: row;
            }
          }
                                 /* Navigartion Bar Ends */